body { font-size: 14px; }
.wrapper { background: url('../img/SUNUTI-Homepage-House-For-Rent-And-Sale-3.jpg') no-repeat center top; background-size: 100% 100%; }
/* Header */
header {
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    padding: 10px 45px; min-height: 90px; transition: all 0.3s ease;
    }
/* .header * {  transition: all 0.3s ease;  } */
.navbar-brand { background: url('../img/SUNUTI-White-logo.png') no-repeat center top; width: 150px; height: 36px; background-size: contain; }
.navbar-expand-lg .navbar-nav .nav-link{ color: #fff; font-size: 14px; font-family: "Lato"; padding-left: 19px; padding-right: 19px; text-transform: uppercase; }
.navbar-expand-lg .navbar-nav .nav-link:hover { color: #000; }
.navbar-expand-lg.fixed-top { top: 15px; left: 28px; right: 45px; }
.header-sticky { background: #fff; position: fixed; width: 100%; left: 0; top:0; height: 70px; min-height: 70px; z-index: 99; }
.header-sticky .navbar-nav .nav-link { color: #000; }
.header-sticky .navbar-expand-lg.fixed-top { top: 6px; }
.header-sticky .navbar-brand { background: url('../img/SUNUTI-Black-logo.png') no-repeat center top; width: 150px; height: 36px; background-size: contain;  }

/* Banner */
.banner { padding: 25px 0 10%; }
.adv6-holder { padding: 13px 30px 50px; font-size: 13px; background: #fff; border-radius: 4px; box-shadow: 0 16px 40px rgba(0,0,0,.12); }
.searchForm .form-group { width: 100%; }
.searchForm .btn { text-transform: uppercase; line-height: 1em; font-weight: 600; letter-spacing: .5px; font-size: 13px; padding: 11px 26px 12px; }
.searchForm .form-control { overflow: hidden; white-space: nowrap; font-size: 12px; height: calc(2em + .75rem + 2px); }

/* Property for Sale */
.propsale { background: rgb(246, 246, 246); padding: 40px 0; margin-top: 15px; }
.salelist { list-style-type: none; padding: 0; padding-left: 22px; }
.salelist li { display: inline-block; }
.propsale .card .img-wrap  { overflow: hidden; cursor: pointer; position: relative; }
.propsale .card .img-wrap img { transition: all 0.3s ease; }
.propsale .card:hover .img-wrap img { transform: scale(1.2); } 
.propsale .card-body .btn { font-size: 12px; border: 1px solid #eee; background: #fff; padding: .3rem .55rem; }
.propsale .card-body .svg-inline--fa { opacity: .4; color: #111; }
.propsale .card-body .fa-heart { margin-right: 6px; }
.propsale .card-body .btn:hover .svg-inline--fa  { color: #1ca8dd; opacity: 1; }
.propsale .cardminbody { min-height: 225px; }
.propionfos { background-image: url('../img/unit.png'); font-size: 14px; line-height: 30px; background-repeat: no-repeat; margin-right: 5px; padding-left: 20px; font-size: 13px; }
.infosize { background-position: -127px 0; margin-right: 5px; padding-left: 20px; }
.inforoom { background-position: 0 -1px; margin-right: 10px; padding-left: 23px; }
.infobath { background-position: -63px -1px; margin-right: 10px; padding-left: 18px; }
.property_media { color: #fff; position: absolute; bottom: 8px; right: 20px; z-index: 9; opacity: .9; }
.property_location_image { color: #fff; position: absolute; bottom: 8px; left: 20px; z-index: 9; opacity: .9; }
.property_location_image a { color: #fff; }
.property_marker { background-image: url('../img/unit.png'); background-repeat: no-repeat; background-position: 0 -19px; margin-right: 0; padding-left: 15px; }

/* Explore Property */
.explorepropty .fa-globe-asia { margin-right: 12px; font-size: 13px; margin-left: -7px; }
.explorepropty .vc_sep_holder .vc_sep_line { width: 50%; margin: 20px auto 30px; }

/* Property Search Guide */
.searchGuides .vc_sep_holder .vc_sep_line { width: 50%; margin: -5px auto 15px; }
.citycol { position: relative; }
.cityname { position: absolute; left: 0; top: 50%; text-align: center; width: 100%; color: #fff; text-shadow: 0 0 10px #272727; font-size: 1.6em!important; font-family: "Raleway"!important;font-weight: 500!important; }

/* Foo */
.foo { background-color: #f2f2f2; padding: 50px 0 0; }
.foo-logo { max-width: 135px; }
.foolist { width: 33%; list-style-type: none; padding: 0; float: left; }
.foolist h6 { font-family: "Raleway"; font-size: 14px; color: #1a1a1a; margin-bottom: 13px; }
.foolist li { line-height: 22px; font-size: 13px; font-weight: 300; padding: 3px 0; }
.foolist li a { color: #1a1a1a }
.foolist li a:hover { color: #85b1c8!important; }
.copyright { font-size: 12px; background: #fff; }



/* Bootstrap Override */
.btn { border-radius: 0; }
.form-control { border-radius: 2px; }
.btn-dark { color: #fff; background-color: #202020!important; border-color: #202020!important; }
.btn-white { color: #000; background-color: #fff!important; border-color: #202020!important; padding: .5rem 2.5rem; }
.open-sans { font-family: 'Open Sans'; }
h1, h2 {font-family: "Raleway";color: #3a4659;font-weight: normal;}
a { color: #1a1a1a; }
a:hover { text-decoration: none; color: #85b1c8; }
.text-normal { font-weight: normal !important; }
.vc_sep_holder .vc_sep_line { height: 1px; border-top: 1px solid #ebebeb; display: block; position: relative; top: 1px; width: 100%; }
.vc_sep_color_grey .vc_sep_line { border-color: #ebebeb; }
.font13 { font-size: 13px !important; }
.font14 { font-size: 14px !important; }
.font15 { font-size: 15px !important; }
.font16 { font-size: 16px !important; }
.anchrblue { color: #347da4; }
.anchrblue:hover { color: #000; text-decoration: none; }
.narrowpadd .citycol { padding-right: 5px; padding-left: 5px; }
.cogs { display: none; cursor: pointer; }
.headxs, .adv6-holderxs { display: none; }



/* Media Queries */
@media only screen and (max-width: 1599px) and (min-width: 1100px) {
    .adv6-holder {
        padding-bottom: 5px;
    }
}
@media only screen and (max-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link { font-size: 11px; }
    .adv6-holder > h4 { font-size: 20px; }
    .propsale h2 { white-space: nowrap; }
}
@media only screen and (max-width: 1100px) {
    .navbar-expand-lg .navbar-nav .nav-link { padding-left: 15px; padding-right: 15px; }
}
@media only screen and (max-width: 992px) {
    .header { background: #fff; min-height: 0; padding: 0; }
    .header .navbar { position: relative; top:0; left: 0; right: 0; }
    .navbar-expand-lg .navbar-nav .nav-link { color: #000; }
    .navbar-brand { background: url('../img/SUNUTI-Black-logo.png') no-repeat center top; width: 125px; height: 30px; background-size: contain; position: absolute; left: 50%; margin-left: -65px; top: 8px; }
    .navbar-light .navbar-toggler { border: 0; color: #333; outline: none !important }
    .cogs { display: inline-block; position: absolute; right: 12px; top: 12px; }
    .adv6-holder { padding-bottom: 5px; display: none; }
    .banner { min-height: 300px; position: relative; }
    .wrapper {  background-position: center 45px; background-size: 100% 300px; }
    .propsale .col-xs-12 { margin-bottom: 25px; }
    .navbar-collapse {    position: absolute;
        background: #fff;
        width: 100%;
        top: 45px;
        left: 0; border-bottom: 1px solid #eee; }
    
}

@media (max-width: 576px) {
    .container { max-width: 100%; }
    .narrowpadd .citycol { margin-bottom: 10px; overflow: hidden; }
    .narrowpadd .citycol .img-holder { max-height: 250px; }
    .narrowpadd .citycol .img-holder > img { max-height: 250px; width: 100%; }
    .headxs { display: block; color: #fff; position: absolute; top: 60%; width: 100%; text-align: center; }
    .banner { min-height: 200px; }
    .wrapper { background-size: 100% 200px; }
    .adv6-holderxs { display: block; }
    .propsale h2 { white-space: normal; }
    .propsale .cardminbody { min-height: 0; }
    .copyright .text-right { text-align: left!important; }
}


/* Modal */
.no-bg { background: none; }
.show { display: block !important; }
.hide { display: none !important; }

/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
  }
  .cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
  }
  .cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  
  .cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .cd-user-modal-container .cd-switcher::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
  }
  .cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
  }
  .cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
  }
  .cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #ccc;
    color: #000;
  }
  .cd-user-modal-container .cd-switcher a.selected {
    background: #000;
    color: #fff;
  }
  @media only screen and (min-width: 600px) {
    .cd-user-modal-container {
      margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
      height: 50px;
      line-height: 50px;
      text-transform: uppercase;
    }
  }
  
  .cd-form {
    padding: 1.4em;
  }
  .cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
/*   .cd-form label.cd-username {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg");
  }
  .cd-form label.cd-email {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg");
  }
  .cd-form label.cd-password {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg");
  } */
  .cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
  }
  .cd-form input.full-width {
    width: 100%;
  }
  .cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
  }
  .cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  .cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
  }
  .cd-form input.has-error {
    border: 1px solid #d76666;
  }
  .cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
  }
  .cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  .no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
  }
  .cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
  }
  .cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
  }
  .cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  .cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
  }
  .cd-switcher { list-style-type: none; padding: 0; margin-bottom: 0; }
  @media only screen and (min-width: 600px) {
    .cd-form {
      padding: 2em;
    }
    .cd-form .fieldset {
      margin: 1em 0;
    }
    .cd-form .fieldset:first-child {
      margin-top: 0;
    }
    .cd-form .fieldset:last-child {
      margin-bottom: 0;
    }
    .cd-form input.has-padding {
      padding: 10px 20px 10px 20px;
    }
    .cd-form input[type=submit] {
      padding: 10px 0;
    }
  }
  
  .cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
  }
  @media only screen and (min-width: 600px) {
    .cd-form-message {
      padding: 2em 2em 0;
    }
  }
  
  .cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
  }
  
  .cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  @media only screen and (min-width: 1170px) {
    .cd-close-form {
      /* display: none; */
    }
  }
  
  #cd-login, #cd-signup, #cd-reset-password {
    /* display: none; */
  }
  
  #cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    /* display: block; */
  }
  
  .cd-form .firstname, .cd-form .lastname { float: left; width: 48%; margin-top: 0; }
  .cd-form .lastname { float: right; }

  /* Dropdown */
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  .nav-item.has-sub { position: relative; }
  .header .nav-item .dropdown-menu { border: 1px solid #cccccc; font-size: 13px; background-color: #fff; transition: all .4s ease; padding: 0; border-radius: 0; border-bottom: 0; width: 220px; }
  .header .nav-item .dropdown-menu .dropdown-item { -webkit-transition: padding .35s ease; -moz-transition: padding .35s ease; -o-transition: padding .35s ease; transition: padding .35s ease; -webkit-backface-visibility: hidden; border-bottom: 1px solid #cccccc;font-family: "Lato";color: #62748f; font-size: 13px; font-weight: 400; height: auto; line-height: 1.4em; padding: 13px 13px 13px 13px; text-transform: none; }
  .header .nav-item .dropdown-menu > li a:hover,   .header .nav-item .dropdown-menu > li.show { background: #1ca8dd; color: #85b1c8; }
  .header .nav-item .dropdown-menu .dropdown-toggle::after { float: right; margin-top: 6px; }

  @media all and (max-width: 992px) {
    .header .nav-item .dropdown-menu .dropdown-item, .header .nav-item .dropdown-menu { border: none; }
    .header .nav-item .dropdown-menu .dropdown-item { padding: 5px 15px; }
    .header .nav-item .dropdown-menu { margin-left: 15px;}
    .header .nav-item .dropdown-menu .dropdown-toggle::after {
        float: none;
        margin-top: 4px;
        transform: rotateZ(90deg);
    }
  }